.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
  background-color: white;
  color: gray;
  flex: 0.6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 400px;
}
.header__left > input {
  border: none;
  width: 100%;
  padding: 8px;
  outline: none;
}

.header__right {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 0px 30px 0px 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.header__right > h5 {
  margin-left: 10px;
  margin-right: 5px;
}
.MuiAvatar-root,
.MuiAvatar-circle {
  height: 30px !important;
  width: 30px !important;
}
