.songRow {
  margin-left: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}
.songRow__info {
  margin-left: 20px;
}
.songRow__info > h1 {
  font-size: 14px;
}
.songRow__info > p {
  font-size: 12px;
  margin-top: 3px;
  color: gray;
}
.song__album {
  margin-left: 10px;
  height: 40px;
  width: 40px;
  object-fit: contain;
}
