.sidebar {
  max-height: calc(100vh - 85px);
  color: white;
  min-width: 230px;
  background-color: #040404;
  padding: 0px 10px 0px 10px;
}
.sidebar__options {
  min-height: 340px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar__logo {
  height: 70px;
  padding: 10px;
  margin-right: auto;
}
.sidebar__title {
  padding-left: 10px;
  font-size: 12px;
  padding: 5px;
}

.sidebar__options > hr {
  width: 90%;
  margin: 10px auto;
  border: 1px solid #282828;
}

.sidebar__playLists {
  height: calc(100vh - 480px);
  padding-bottom: 10px;
  margin-bottom: 5px;
  overflow-y: overlay;
}

.sidebar__playLists::-webkit-scrollbar {
  width: 10px;
}
.sidebar__playLists {
  scrollbar-width: thin;
  scrollbar-color: rgb(114, 114, 114);
}
.sidebar__playLists::-webkit-scrollbar-track {
  background: black;
}
.sidebar__playLists::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
}
