.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 100%;
}

.login > a {
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  .login > img {
    width: 70%;
  }
}
@media only screen and (min-width: 600px) {
  .login > img {
    width: 60%;
  }
}
@media only screen and (min-width: 1000px) {
  .login > img {
    width: 45%;
  }
}
