.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body__infoText {
  flex: 1;
}
.body__infoText h2 {
  font-size: 48px;
}
.body__infoText p {
  font-size: 14px;
}

.body__info > img {
  height: 20vw;
  max-height: 250px;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.733);
}
